In [1]:
from scipy import cluster
import numpy as np
from numpy.random import default_rng

In [2]:
rng = default_rng()
X = rng.random((50, 4))

In [3]:
Z = cluster.hierarchy.ward(X)

In [10]:
cutree = cluster.hierarchy.cut_tree(Z, n_clusters=[5, 10])

In [11]:
cutree

array([[0, 0],
       [1, 1],
       [1, 2],
       [2, 3],
       [1, 1],
       [1, 1],
       [3, 4],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 2],
       [3, 5],
       [3, 4],
       [1, 6],
       [3, 5],
       [2, 3],
       [0, 7],
       [2, 3],
       [4, 8],
       [1, 6],
       [3, 5],
       [1, 6],
       [3, 4],
       [4, 8],
       [4, 9],
       [0, 0],
       [4, 8],
       [4, 9],
       [1, 2],
       [2, 3],
       [2, 3],
       [1, 2],
       [3, 4],
       [1, 2],
       [4, 9],
       [0, 0],
       [1, 2],
       [0, 7],
       [4, 8],
       [1, 6],
       [4, 9],
       [3, 4],
       [1, 2],
       [1, 2],
       [2, 3],
       [2, 3],
       [3, 4],
       [1, 2],
       [1, 6],
       [3, 5]])

In [17]:
k = 5

In [18]:
from scipy.cluster.hierarchy import fcluster
clust = fcluster(Z, k, criterion='maxclust')

In [19]:
clust

array([2, 5, 5, 4, 5, 5, 3, 2, 2, 5, 5, 3, 3, 5, 3, 4, 2, 4, 1, 5, 3, 5,
       3, 1, 1, 2, 1, 1, 5, 4, 4, 5, 3, 5, 1, 2, 5, 2, 1, 5, 1, 3, 5, 5,
       4, 4, 3, 5, 5, 3], dtype=int32)

In [20]:
len(clust)

50

In [23]:
import pandas as pd

In [24]:
df = pd.DataFrame(X,
                  columns = ['col1','col2','col3','col4'])

In [25]:
df.head()

       col1      col2      col3      col4
0  0.383230  0.882789  0.215236  0.191252
1  0.041868  0.571192  0.814686  0.849481
2  0.192505  0.563616  0.423657  0.396623
3  0.336877  0.843822  0.954547  0.219799
4  0.259100  0.526005  0.902783  0.915386

In [26]:
df['group'] = fcluster(Z, k, criterion='maxclust')

In [27]:
df.head()

       col1      col2      col3      col4  group
0  0.383230  0.882789  0.215236  0.191252      2
1  0.041868  0.571192  0.814686  0.849481      5
2  0.192505  0.563616  0.423657  0.396623      5
3  0.336877  0.843822  0.954547  0.219799      4
4  0.259100  0.526005  0.902783  0.915386      5

In [28]:
df['group'].value_counts()

5    18
3    10
1     8
2     7
4     7
Name: group, dtype: int64